.label{
    margin-right: 10px;
    font-weight: 400;
}
.val{
    font-weight: 500;
}
.example-full-width{
    margin-right: 20px;
}
.empListView{
    margin: 30px;
    overflow: auto;
}
.primary{
    margin: 5px;
}
.btn{
    margin: 10px;
}